<div class="main">

  <div class="new-wrapper">
    <p>最近、就職活動をしているのですが、業界未経験からの転職では中々就職先が決まらない。。。</p>
  </div>
  <div class="random-trouble">
    <%= link_to "#" do %>
      <div class="trouble-contents">
        <p>"testesttesttesttestesttesttesttestesttesttesttestesttesttesttestesttesttest"</p>
      </div>
    <% end %>
  </div>
</div>