// 共通項目
html{
  background-color: #303768;
}

a{
  text-decoration: none;
}

p {
  white-space: pre-wrap;
}

textarea{
  resize: none;
}

*{
  color: aliceblue;
  font-family: Hiragino Mincho ProN;
  box-sizing: border-box;
}

input{
  color: black;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.header_logo{
  color: aliceblue;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 5vw;
}

.header_logo a{
  color: aliceblue;
  font-size: 40px;
}

.header_link a{
  padding-right: 5vw;

}

.footer_bar{
  // background-color: #3e3e42;
  height: 5vh;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}